@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: black;
  text-align: center;
  margin-top: 100px;
}

.nav-input {
  width: 100%;
}

#inputMessager {
  width: 50%;
}

label {
  padding-right:10px;
}
#messages {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 85px;
}

.card {
  width: 70%;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
}


.alert-secondary {
    color: #383d41;
    background-color: #F5DC92;
    border-color: #B4A29F;
}
.alert {
    
    padding: 0rem 1.25rem; 
    margin-bottom: 0rem;
}

.btn-danger {
  width: 100%;
}

.nameAndButton {
  display: flex;
  justify-content: space-between;
}

#name {
  width:85%;
  font-weight: bold;
}

.delete {
  width: 15%;
  font-size: 7px;
}

// .btn {
//   display: flex;
//   align-items: flex-start;
// }

.navbar-custom {
  background-color: #6B5949;
 }

 .container {
 display: flex;
}

.clear.btn {
  background-color: #B4A29F;
}

 
