@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
  font-family: retro-woodcutter;
  color: #90EE90;
  src: url('../fonts/Retro\ Computer.otf') format('opentype');
}
@font-face {
  font-family: retro-computer;
  src: url('../fonts/RetroComputer_DEMO.ttf') format('truetype');
}

body {
  background-color: /*#243133;*/ #dee4e7;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: retro-computer;

}

.title {
  font-family: retro-woodcutter;
}

.nav-input {
  width: 100%;
}

#inputMessager {
  width: 50%;
}

label {
  padding-right:10px;
}
#messages {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 85px;
}

.card {
  width: 70%;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
}


.alert-secondary {
    color: #41FF00;
    background-color: #383d41;
    border-color: #B4A29F;
}
.alert {
    
    padding: 0rem 1.25rem; 
    margin-bottom: 0rem;
}

.btn-danger {
  width: 100%;
}

.nameAndButton {
  display: flex;
  justify-content: space-between;
}

#name {
  width:85%;
  font-weight: bold;
}

.delete {
  width: 15%;
  font-size: 7px;
}

.navbar-custom {
  background-color: #41FF00;
  box-shadow: 5px 5px rgb(155, 155, 236);
 }

 .container {
 display: flex;
}


 
